@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); 

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FCF6F5FF;
    /* background-color: linear-gradiet(300deg, #757b87, #909d9d);  */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

h1{
    justify-content: center;
    justify-items: auto;
}

input{
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
    width: 300px;
    min-width: 30px;
    font-size: 1rem;
}

#search{
    min-width: 30vw;
}

#btn{
    min-width:10vw;
    text-align: center;
    justify-content: center;
}

input:focus{
    outline: black;
}

input:hover{
    background-color: aliceblue;
}

.weather{
    text-align: center;
    font-size: 2rem;
}

.weather h2{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container{
    background-color: #89ABE3FF;
    height: 70vh;
    max-height: max-content;
    min-width: 30vw;
    position: relative;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
}

button{
    background-color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
}

button:hover{
    color: white;
    background-color: black;
}

